Tags:
easydigitaldownloads, edd, edd permalink, permalink rewrite, permalink structure, edd rewrite, edd advanced permalink, edd custom permalink, edd slug

-----------------------------------------------
<h2>What is EDD Advanced Permalinks?</h2>
EDD Advanced Permalinks enables you to modify your existing EDD digital store permalink structure for single downloads post type, downloads archive, download_category, download_tag to your own preference.

<h2>Features</h2>
<ol>
 	<li>Customize your Easy Digital Downloads permalinks structure without any coding.</li>
 	<li>Easily customize the permalink structure via admin panel found in Settings &gt; Permalinks page.</li>
 	<li>Able to change the following:
		<ol>
		 	<li>Download base: download (post type)
				<ul>
				 	<li><strong>Available Structures:</strong></li>
				 	<li>Post name https://example.com/item/post-name</li>
				 	<li>Post ID https://example.com/item/123</li>
				 	<li>Post name and ID https://example.com/item/post-name/123</li>
				 	<li>Category based https://example.com/item/%product-category%/%post-name%</li>
				 	<li>Author based https://example.com/item/%author%/%post-name%</li>
				</ul>
			</li>
		 	<li>Archive slug: downloads (archive)</li>
		 	<li>Category base: download_category (taxonomy)</li>
		 	<li>Tag base: download_tag (taxonomy)</li>
		</ol>
	</li>
</ol>

<h2>Why you should use it?</h2>
You can change permalinks for <strong>Single post, Archive page, Category page, Tag page</strong>. You can also change the single type with some available structures:
<br>
<br><strong>Post name:</strong> https://example.com/item/post-name
<br><strong>Post ID:</strong> https://example.com/item/123
<br><strong>Post name and ID:</strong> https://example.com/item/post-name/123
<br><strong>Category based:</strong> https://example.com/item/%product-category%/%post-name%
<br><strong>Author based:</strong> https://example.com/item/%author%/%post-name%

<h2>Need Support?</h2>
You will find a document inside the download package. There you learn how can you install and use the plugin. if you still need help you can contact me on the support section. Thanks

NB: The above links are demo purposes only. 